openapi: 3.0.1
info:
  title: CQ Adient SRM APIs
  version: 1.0.0
servers:
  - url: https://apigatewaydev.adient.com/cq-srm/v1
    description: Dev
    variables:
      scheme:
        enum:
          - https
        default: https
  - url: https://apigatewayqa.adient.com/cq-srm/v1
    description: Quality
    variables:
      scheme:
        enum:
          - https
        default: https
  - url: https://apigateway.adient.com/cq-srm/v1
    description: Production
    variables:
      scheme:
        enum:
          - https
        default: https
paths:
  /supplier:
    post:
      tags:
        - Supplier IDoc Data
      summary: Send Supplier IDoc data to CQ Adient SRM
      description: 'Send Supplier IDoc data to CQ Adient SRM'
      operationId: supplier
      responses:
        '200':
          description: OK
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorInvalidAuthorizationKey'
        '404':
          description: Resource Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorNotFound'
  /sacstatus:
    post:
      tags:
        - SAC Status
      summary: Update SAC request status
      description: "Update SAC request status"
      operationId: sacstatus
      responses:
        '200':
          description: Successful
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorInvalidAuthorizationKey'
        '404':
          description: Resource Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorNotFound'
        '500':
          description: An unexpected error has occurred
security:
  - ApiKeyAuth: []
components:
  securitySchemes:
    ApiKeyAuth:
      type: apiKey
      name: Authorization
      in: header
  schemas:
    ErrorInvalidAuthorizationKey:
      type: object
      description: Error Message for Invalid Authorization Key
      properties:
        error:
          type: object
          properties:
            code:
              type: string
              example: "401"
            message:
              type: string
              example: "Invalid Authorization key for resource"
    ErrorNotFound:
      type: object
      description: Error Message for Resource not found
      properties:
        error:
          type: object
          properties:
            code:
              type: string
              example: "404"
            message:
              type: string
              example: "Resource Not Found"